{% extends 'header1.html' %}

{% block title %}News - Cake Store{% endblock %}

{% load static %}
{% block content %}
    <h1>Coffee Store</h1>
    <div class ="col-md-12" >
        <div style="width: 100%; height: 100%; object-position: center; object-fit: cover;">
            <img src="{% static 'img/stop.jpg' %}" alt="stop" style="width: 1000px; height: auto; object-fit: cover;">
        </div>
        <div >
            <p  > <h1>目前網頁維修中，敬請期待！</h1></p>
        </div>
      


    </div>
{% endblock %}
