<header>
    <div class='container'>    
  <nav class="navbar navbar-expand-lg navbar-light">
    <a class="navbar-brand" href="#">
      
      {% load static %}
      <img src="{% static 'img\logo2.png' %}" width='180'></a>

      <!-- bootstrap js 字型-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
       <!-- 引入 Bootstrap CSS -->
   <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   <title>{% block title %}蛋糕小天地{% endblock %}</title>
   <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
   {% load static %}
   <link rel="stylesheet" href="{% static 'shop/styles.css' %}">
   <!-- 自定义 CSS -->
   <style>
       .container {
           margin-top: 50px;
       }
   </style>


    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'coffeebeans:product_list' %}">首頁<img src="{% static 'img\Home.png' %}" width='80'></a>
        </li>
        {% if user.is_Wholesaler %}
        <li class="nav-item">
          <a class="nav-link" href="#">批發專用<img src="{% static 'img\Home.png' %}" width='80'></a>
        </li>
        {% elif user.is_OrdinaryCustomer %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'coffeebeans:view_cart' %}">顯示購物車<img src="{% static 'img\checkout cart.png' %}" width='80'></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'coffeebeans:checkout' %}">結帳<img src="{% static 'img\checkout icon.png' %}" width='80'></a>
        </li>
        {% endif %}

        {% if user.is_authenticated %}
        <li class="nav-item"></li>
        <a href="{% url 'accounts:logout' %}">登出</a></li>
        {% else %}
        <li class="nav-item">
            <a href="{% url 'accounts:login' %}">登入 <img src="{% static 'img\logoin.png' %}" width='60'></a>

            <a href="{% url 'accounts:register' %}">註冊</a></li>	
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'coffeebeans:about' %}">關於我們</a>
        </li>			
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

    
    </div>
  </nav>
  
    </div>
  </header>
  {% block content %}{% endblock %}